Source: sipclients
Section: python
Priority: optional
Maintainer: Dan Pascu <dan@ag-projects.com>
Uploaders: Adrian Georgescu <ag@ag-projects.com>, Lucian Stanescu <luci@ag-projects.com>, Saul Ibarra <saul@ag-projects.com>
Build-Depends: cdbs (>= 0.4.47), debhelper (>= 7), python (>= 2.5), python-support
Standards-Version: 3.8.4
Homepage: http://sipsimpleclient.com

Package: sipclients
Section: net
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-sipsimple (>= 0.15.0), python-xcaplib (>= 1.0.11), python-application (>= 1.2.4), python-twisted-core, python-zope.interface, python-imaging
Conflicts: sipsimple-cli
Description: SIP SIMPLE Command Line Clients
 This package contains Command Line Clients for testing SIP SIMPLE client
 SDK from http://sipsimpleclient.com. They demonstrate the SDK capabilities
 and can be used as examples or for testing purposes.

