Source: sipclients
Section: python
Priority: optional
Maintainer: Dan Pascu <dan@ag-projects.com>
Uploaders: Adrian Georgescu <ag@ag-projects.com>
Build-Depends: debhelper (>= 11), dh-python, python (>= 2.7)
Standards-Version: 4.5.0
Homepage: http://sipsimpleclient.org

Package: sipclients
Section: net
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
         libavahi-compat-libdnssd1,
         python-application (>= 2.8.0),
         python-eventlib,
         python-lxml,
         python-sipsimple (>= 3.5.0),
         python-twisted-core,
         python-zope.interface
Conflicts: sipsimple-cli
Description: SIP SIMPLE Command Line Clients
 This package contains Command Line Clients for testing SIP SIMPLE client
 SDK from http://sipsimpleclient.org. They demonstrate the SDK capabilities
 and can be used as examples or for testing purposes.

