Source: sipclients
Section: python
Priority: optional
Maintainer: Dan Pascu <dan@ag-projects.com>
Uploaders: Adrian Georgescu <ag@ag-projects.com>, Lucian Stanescu <luci@ag-projects.com>, Saul Ibarra <saul@ag-projects.com>
Build-Depends: debhelper (>= 7.3.5), python (>= 2.6)
Standards-Version: 3.9.3
Homepage: http://sipsimpleclient.com

Package: sipclients
Section: net
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, libavahi-compat-libdnssd1, python-application (>= 1.2.8), python-eventlib, python-lxml, python-sipsimple (>= 0.31.0), python-twisted-core, python-zope.interface
Conflicts: sipsimple-cli
Description: SIP SIMPLE Command Line Clients
 This package contains Command Line Clients for testing SIP SIMPLE client
 SDK from http://sipsimpleclient.com. They demonstrate the SDK capabilities
 and can be used as examples or for testing purposes.

